# Python gereksizleri
__pycache__/
*.py[cod]
*$py.class

# PyInstaller çıktıları (Bunları yükleme, her bilgisayarda yeniden üretilir)
build/
dist/
*.spec

# Mac gereksizleri
.DS_Store

# Sanal ortam (varsa)
venv/
env/